# This file contains common pin mappings for the BIGTREETECH SKR V1.4
# board. To use this config, the firmware should be compiled for the
# LPC1768 or LPC1769(Turbo).

# See docs/Config_Reference.md for a description of parameters.

# Ender 5 pro ; dual Z ; BLTouch ; stock LCD ; Bigtreetech SKR v1.4 Turbo  LPC1769-120MHz ; TMC2209 UART mode

########################################
# Mainsail
########################################
[include mainsail.cfg]

########################################
# Steppers
# rotation_distance = <full_steps_per_rotation> * <microsteps> / <steps_per_mm>
# rotation_distance = 200 * 16 / <steps_per_mm>
########################################
[stepper_x]
step_pin: P2.2
dir_pin: !P2.6 # JPR75
enable_pin: !P2.1
microsteps: 16
rotation_distance: 39.75 # JPR75 ; 200 * 16 / 80.5 = 39.75
endstop_pin: P1.29 # JPR75
position_endstop: 230 # JPR75
position_max: 230 # JPR75
position_min: 2
homing_speed: 50

[stepper_y]
step_pin: P0.19
dir_pin: !P0.20 # JPR75
enable_pin: !P2.8
microsteps: 16
rotation_distance: 39.85 # JPR75 ; 200 * 16 / 80.3 = 39.85
endstop_pin: P1.28 # JPR75
position_endstop: 220 # JPR75
position_max: 220 # JPR75
position_min: 13 # JPR75 Satsana Cooler
homing_speed: 50

[stepper_z]
step_pin: P0.22
dir_pin: !P2.11
enable_pin: !P0.21
microsteps: 16
rotation_distance: 4 # JPR75 ; 200 * 16 / 800 = 4
endstop_pin: probe:z_virtual_endstop # JPR75 BLTouch
position_max: 300
position_min: -4

[stepper_z1]
step_pin: P1.15
dir_pin: !P1.14
enable_pin: !P1.16
microsteps: 16
rotation_distance: 4 # JPR75 ; 200 * 16 / 800 = 4

[extruder]
step_pin: P2.13
dir_pin: !P0.11
enable_pin: !P2.12
microsteps: 16
rotation_distance: 22.25 # JPR75 ; 200 * 16 / 143.84 = 22.25
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: P2.7
sensor_type: EPCOS 100K B57560G104F
sensor_pin: P0.24
control: pid
pid_Kp: 22.2
pid_Ki: 1.08
pid_Kd: 114
min_temp: 0
max_temp: 260
pressure_advance: 0 # JPR75 to be adjusted
pressure_advance_smooth_time: 0.040 # JPR75 to be adjusted

########################################
# Printer
########################################
[heater_bed]
heater_pin: P2.5
sensor_type: EPCOS 100K B57560G104F
sensor_pin: P0.25
control: pid
pid_Kp: 54.027
pid_Ki: 0.770
pid_Kd: 948.182
min_temp: 0
max_temp: 75 # JPR75

[fan]
pin: P2.3 # Part fan

[heater_fan hotend] # JPR75
pin: P2.4
heater: extruder
heater_temp: 50

[mcu]
# ls /dev/serial/by-id/*
serial: /dev/serial/by-id/usb-Klipper_lpc1769_09100204E284D795E4E24662C12000F5-if00

[printer]
kinematics: cartesian
max_velocity: 300
max_accel: 3000
max_z_velocity: 5
max_z_accel: 100

########################################
# Bed leveling
# x_offset = nozzle_x_position - probe_x_position
########################################
[bltouch]
control_pin: P2.0
sensor_pin: ^P0.10
x_offset: -55
y_offset: -24
samples: 2
speed: 4
#z_offset = 3.240

[safe_z_home]
home_xy_position: 155,130 # JPR75
speed: 50
z_hop: 15
z_hop_speed: 5

[bed_mesh]
mesh_min: 5,10 # JPR75
mesh_max: 165,189 # JPR75
mesh_pps: 2, 2
algorithm: bicubic
bicubic_tension: 0.2 # JPR75 to be adjusted
probe_count: 5,5
speed: 80
move_check_distance: 5 # JPR75 to be adjusted
split_delta_z: .025 # JPR75 to be adjusted
fade_start: 1 # JPR75 to be adjusted
fade_end: 10 # JPR75 to be adjusted
fade_target: 0 # JPR75 to be adjusted

########################################
# TMC2209 configuration
########################################
[tmc2209 stepper_x]
uart_pin: P1.10
run_current: 0.800
#interpolate: True
stealthchop_threshold: 999999
#stealthchop_threshold: 100

[tmc2209 stepper_y]
uart_pin: P1.9
run_current: 0.800
#interpolate: True
stealthchop_threshold: 999999
#stealthchop_threshold: 100

[tmc2209 stepper_z]
uart_pin: P1.8
run_current: 0.800
#interpolate: True
stealthchop_threshold: 999999
#stealthchop_threshold: 100

[tmc2209 stepper_z1]
uart_pin: P1.1
run_current: 0.800
#interpolate: True
stealthchop_threshold: 999999
#stealthchop_threshold: 100

[tmc2209 extruder]
uart_pin: P1.4
run_current: 0.800
#interpolate: True
stealthchop_threshold: 999999
#stealthchop_threshold: 100

########################################
# EXP1 / EXP2 (display) pins
########################################

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=P1.30, EXP1_3=P1.18, EXP1_5=P1.20, EXP1_7=P1.22, EXP1_9=<GND>,
    EXP1_2=P0.28, EXP1_4=P1.19, EXP1_6=P1.21, EXP1_8=P1.23, EXP1_10=<5V>,
    # EXP2 header
    EXP2_1=P0.17, EXP2_3=P3.26, EXP2_5=P3.25, EXP2_7=P1.31, EXP2_9=<GND>,
    EXP2_2=P0.15, EXP2_4=P0.16, EXP2_6=P0.18, EXP2_8=<RST>, EXP2_10=<NC>
    # Pins EXP2_1, EXP2_6, EXP2_2 are also MISO, MOSI, SCK of bus "ssp0"

# See the sample-lcd.cfg file for definitions of common LCD displays.

########################################
# LCD
########################################
[display]
lcd_type: st7920
cs_pin: EXP1_7
sclk_pin: EXP1_6
sid_pin: EXP1_8
encoder_pins: ^EXP1_5, ^EXP1_3
click_pin: ^!EXP1_2

[output_pin beeper]
pin: EXP1_1

########################################
# Macros
########################################
[force_move]
# Enable commands that force potentially unsafe movement
enable_force_move: True

[gcode_macro baby_step_Z_down]
description: Lower the bed 0.02mm without homing
gcode:
  G90
  SET_KINEMATIC_POSITION Z=0
  G1 Z0.02 F25
  M84

[gcode_macro baby_step_Z_up]
description: move up the bed 0.02mm without homing
gcode:
  G90
  SET_KINEMATIC_POSITION Z=0
  G1 Z-0.02 F25
  M84

[gcode_macro Z_down_10]
description: Lower the bed 10mm without homing
gcode:
  G90
  SET_KINEMATIC_POSITION Z=0
  G1 Z10.0 F100
  M84

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bltouch]
#*# z_offset = 1.200
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  0.057500, 0.045000, 0.065625, 0.035625, 0.053750
#*# 	  0.036875, 0.050000, 0.030625, 0.050000, 0.067500
#*# 	  0.026875, 0.070000, 0.086875, 0.064375, 0.093750
#*# 	  0.036250, 0.085000, 0.096875, 0.107500, 0.101250
#*# 	  0.046875, 0.125000, 0.161875, 0.129375, 0.143750
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 5.0
#*# max_x = 165.0
#*# min_y = 10.0
#*# max_y = 189.0
